.metadata/
java-codigo/*.class
sintaxe-basica/bin/
sintaxe-basica/.classpath
sintaxe-basica/.gitignore
sintaxe-basica/.project
sintaxe-basica/.settings
sintaxe-variaveis-e-fluxo/bin/
sintaxe-variaveis-e-fluxo/.classpath
sintaxe-variaveis-e-fluxo/.gitignore
sintaxe-variaveis-e-fluxo/.project
sintaxe-variaveis-e-fluxo/.settings
bytebank/bin/
bytebank/.classpath
bytebank/.gitignore
bytebank/.project
bytebank/.settings
bytebank-composto/bin/
bytebank-composto/.classpath
bytebank-composto/.gitignore
bytebank-composto/.project
bytebank-composto/.settings
bytebank-encapsulado/bin/
bytebank-encapsulado/.classpath
bytebank-encapsulado/.gitignore
bytebank-encapsulado/.project
bytebank-encapsulado/.settings
bytebank-herdado/bin/
bytebank-herdado/.classpath
bytebank-herdado/.gitignore
bytebank-herdado/.project
bytebank-herdado/.settings
bytebank-herdado-conta/bin/
bytebank-herdado-conta/.classpath
bytebank-herdado-conta/.gitignore
bytebank-herdado-conta/.project
bytebank-herdado-conta/.settings
bytebank-herdado-conta/doc/
am_enum/.classpath
am_enum/.gitignore
am_enum/.project
am_enum/.settings/org.eclipse.jdt.core.prefs
java-pilha/.classpath
java-pilha/.gitignore
java-pilha/.project
java-pilha/.settings/org.eclipse.jdt.core.prefs
bytebank-biblioteca/bin/
bytebank-biblioteca/.classpath
bytebank-biblioteca/.gitignore
bytebank-biblioteca/.project
bytebank-biblioteca/.settings

