.metadata/
java-codigo/*.class
sintaxe-basica/bin/
sintaxe-basica/.classpath
sintaxe-basica/.gitignore
sintaxe-basica/.project
sintaxe-basica/.settings
sintaxe-variaveis-e-fluxo/bin/
sintaxe-variaveis-e-fluxo/.classpath
sintaxe-variaveis-e-fluxo/.gitignore
sintaxe-variaveis-e-fluxo/.project
sintaxe-variaveis-e-fluxo/.settings
